//== Colors
$gray-base:              #212121; // grey 900
$gray-darker:            #424242; // grey 800
$gray-dark:              #616161; // grey 700
$gray:                   #9E9E9E; // grey 500
$gray-light:             #E0E0E0; // grey 300
$gray-lighter:           #F5F5F5; // grey 100

$white:					#FFFFFF;

$brand-primary:         #009688; // teal 500
$brand-success:         #4CAF50; // green 500
$brand-info:            #3F51B5; // indigo 500
$brand-warning:         #FF9800; // orange 500
$brand-danger:          #F44336; // red 500
$brand-accent: 					#FFB300; // amber 600
