header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $white;
  box-shadow: 0px 1px 1px $gray-200;
  .header-brand {
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
  .header-meta {
    margin-left: .25rem;
    color: theme-color("primary");
    font-size: $font-size-lg;
  }
}
