header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $header-bg;
  box-shadow: 0px 1px 1px $header-shadow;
  .header__brand {
    float: left;
    display: block;
  }
  .header__meta {
    float: left;
    display: block;
    line-height: 40px;
    margin-left: 10px;
    font-size: 1.25rem;
  }
}
