header {
	padding-top: 2rem;
	nav {
		background-color: $gray-200;
		border-radius: $border-radius;
		.username {
			border-right: 1px solid $gray-300;
		}
	}
}
main {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.container {
	&.narrow {
		max-width: 780px;
	}
}

.login {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	.card-body {
		padding: 1.5rem;
	}
}

.card {
	label {
		color: $gray-600;
		margin-bottom: 0;
		font-size: $font-size-xs;
		text-transform: uppercase;
	}
}