main {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.container {
	&.narrow {
		max-width: 720px;
	}
}

.login {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	.card-body {
		padding: 2rem;
	}
}

.card {
	label {
		color: $gray-600;
		margin-bottom: 0;
		font-size: $font-size-xs;
		text-transform: uppercase;
	}
}